@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')
 /* work sans font  */
 /* banner styles  */

 .nav-title{
    font-size: 45px;
    font-weight: 800;
 }

nav ul li{
    list-style: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
}
.first second{
    font-size: 20px;
    font-weight: 400;
}
button{
    border-radius: 5px;
   background-color: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
margin-top: 30px;
}
nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
.span{
    color: rgb(253, 110, 10);
}
.semi-title{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 30px;
font-weight: 600;
height: 30px;
width: 120px; 
}
.title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
height: 30px;
width: 350px;
}
.parag{
    color: rgb(117, 117, 117);
font-size: 16px;
font-weight: 400;
height:25px;
width: 400px;
margin-top: 20px;
margin-bottom: 30px;
}
header div{
    margin: 50px 200px;
    /* display: flex; */
}
.sujon{
    display: flex;
    margin: 0px auto;
}
.image{
    height: 290px;
    width: 350px;
}
.banner{
    background-image: url("../images/header_bg.png");
}

.section{
    height: 275px;
    width: 570px;
    border-radius: 10px;
    padding: 60px 75px;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    /* color: rgb(117, 117, 117); */

background: rgb(255, 248, 243);
margin: 455px 115px;
}
.dimand{
    display: flex;
    gap: 23px;
    /* align-items: center; */
    /* justify-content: center; */
}
.about{
    justify-content: center;
}
.ma{
    background: rgb(255, 255, 255);
}
article{
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);
}

.section-one{
    
}

.image-section{
    display: flex;
    gap: 10px;
}
.icon{
    height: 200px;
    width: 15opx;
    background-color: #FFFFFF;
    border: 2px solid;
}